<div class="container">
  <h1>Post Page</h1>
  <h4>Lazy load module</h4>
  <app-table-search (searchValue)="tableSearch($event)"  (handlerReset)="getAll()"></app-table-search>
  <div class="table-wrap -max-h-500">
    <s-table>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col" (click)="sortTableByID()" [ngClass]="{'-active': isActiveID}">
              <orderBy>
                ID
              </orderBy>
              <i class="fas fa-arrow-up" *ngIf="orderSortID === 'asc'"></i>
              <i class="fas fa-arrow-down" *ngIf="orderSortID === 'desc'"></i>
            </th>
            <th scope="col" (click)="sortTable('title', orderSortTitle , isActiveTitle)" [ngClass]="{'-active': isActiveTitle}">
              Title
              <i class="fas fa-arrow-up" *ngIf="orderSortTitle === 'asc'"></i>
              <i class="fas fa-arrow-down" *ngIf="orderSortTitle === 'desc'"></i>
            </th>
            <th scope="col" (click)="sortTable('content', orderSortTitle, isActiveContent)" [ngClass]="{'-active': isActiveContent}">
              Content
              <i class="fas fa-arrow-up" *ngIf="orderSortContent === 'asc'"></i>
              <i class="fas fa-arrow-down" *ngIf="orderSortContent === 'desc'"></i>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of posts">
            <td>{{post.id}}</td>
            <td>{{post.title}}</td>
            <td>{{post.body}}</td>
            <td>
              <div class="d-flex">
                <button class="link" routerLink="/posts/{{post.id}}">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                <button class="link" (click)="postDelete(post.id)">
                    <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </s-table>
  </div>
  <button class="btn btn-primary btn-md mt-3" routerLink="/posts/new">Add new</button>
</div>
